RUN_MODE=development

# database
DATABASE_URI=

# jwt
JWT_SECRET="my_jwt"
JWT_REFRESH_SECRET=""

# host and port
DEV_HOST=127.0.0.1
DEV_PORT=8080
PROD_HOST=
PROD_PORT=

# image/video media storage sdk
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=

# prod, do not add into deployment, usually deployment provider have its port already set up
PORT="8080"
